<?xml version="1.0"?>
<launch>

  <!-- Load example URDF -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find dogbot_description)/urdf/dogbot.xacro'" />
    
  <!-- Show in Rviz  -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find dogbot_description)/launch/dogbot.rviz"/>

</launch>

