<?xml version="1.0"?>

<!-- single dogbot in gazebo -->  

<launch>
  <arg name="postgres_log" default="false" />
  <arg name="model" default="$(find dogbot_description)/urdf/dogbot.xacro"/>
  
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
        args="-z 1.0 -unpause -urdf -model dogbot -param robot_description" respawn="false" output="screen" />
  
  <!-- ros/Gazebo controllers -->
  <include file="$(find dogbot_control)/launch/controllers.launch" />  
  
  <include if="$(arg postgres_log)"  file="$(find dogot)/config/logger.launch">
    <arg name="logging_config" value="sim_logging.yaml"/>
  </include>
 
</launch>
