<launch>

  <!-- By default, we are not in debug mode -->
  <arg name="debug" default="true" />
  
  <!--  launch-prefix="xterm -e gdb - -args" -->
  
  <node name="dogbot_driver" pkg="dogbot_driver" type="driver"  >
    <param name="configFilename" value="/home/charles/src/active/BMC2-Firmware/Config/config.json" />
    <param name="devFilename" value="local" />
    <param name="sim" value="false" />
  </node>
  
</launch>
